* {
    margin: 0;
    padding: 0;
}
/* navbar */
.navbar {
    background: #fefefe;
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 80px;
    padding: 0 20px;
   
    padding-bottom: 15px;
}

.logo img {
    width: 150px;
}
.list-items {
        display: flex;
list-style: none;
color: grey;
gap: 10px;
}
.list-items img {
    rotate: 180deg;
    width: 10px;
    position: relative;
    
}
/* hero */
.hero{
    height: 780px;
    width: 100%;
    background: rgba(71, 71, 71, 0.7);
    position: relative;
/* backdrop-filter: grayscale(30%); */

}
.hero img {
    object-fit:cover;
    width: 100%;
    height: 100%;
    display: block;
    mix-blend-mode: multiply;

}
.herotextandButton {
    position: absolute;
    top: 150px;
    left: 40px;
    gap: 20px;
    flex-direction: column;
    width: 796px;
    height: 330px;
    padding: 10px;
    display: flex;
}
.heroText {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.heroText h2 {
    font-family: "Poppins", Sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.6;
    width: 716px;
    font-size: 3rem;
        color: whitesmoke;
            letter-spacing: 2px;


}
.heroText p {
        line-height: 1.6;
         width: 600px;
             font-family: "Inter", Sans-serif;
    font-size: 24px;
    font-weight: 150;
    text-transform: capitalize;
    color: whitesmoke;
    letter-spacing: 1px;

}
.heroButton {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.button1 {
    background: orange;
    color: white;
    height: 46px;
    width: 208px;
    border: none;
}
.button2{
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: auto;
    height: 46px;
    width: 208px;
}
.card {
    position: absolute;
    bottom: 50px;
    right: 50px;
    z-index: 1;
}
/* #map {
    height: 796px;
    width: 100%;
} */